 body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif
}

.main {
    background-color: rgb(3, 3, 3);
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color:#d24260;
    color: rgb(136, 32, 32);;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.un {
width: 76%;
color: #333232;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: #b91b3a;
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(241, 13, 13, 0.336);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Times New Roman', Times, serif
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: #d24260;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: solid black;
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Times New Roman', Times, serif
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #b61132,#b81c1c );
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #8f1a31;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color:#8d1e34;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }}
