h3{
    color:#FFF;
    font-weight: normal;
    margin-bottom: 2px;
}
h4{
    font-weight: normal;
    font-size: 12px;
    color:#FFF;
    
    
}
h5{
    font-weight: normal;
    font-size: 16px;
    margin-top:25px;
}
h6{
    font-size: 14px;
    font-weight:700;
    margin-bottom: 5px;
    
}

/*pamja e headerit*/
.header {
    background-color: black;
    display: flex;
    justify-content:space-between;
    height: 140px;
    padding: 0px 20px;
}
h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
    float: inline-start;
}
h4{
    font-size: 10px;
    font-weight: 100;
    color:rgb(66, 63, 63);
    padding-top: 0% ;
    margin-top: 0%;
}
body{
    background-color: black;
    border-top: 10px solid #b94058;
    margin: auto;
    width: 1000px;
    cursor: context-menu;
} 
.style{

margin-right: 10px;
float: right;

}

.search .fa{
    padding: 5px;
    font-size: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    border-radius: 100%;
    float: right;
    margin-right: 10px;
}



/* pamja e naviagtion bar*/
.topnav
{
 
    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px;
    height: 50px;
    background-image: -webkit-linear-gradient(#504e4e,#111111);
} 
.topnav a:hover{
    color: #b94058;
}
.topnav a{

    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
}

.topnav ul{
float: left;
padding-left: 20px;

}
.topnav ul li{
    float: left;
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid whitesmoke;
}
#home{
    border-left: none;
}
    /*Dropdown*/
    nav ul li ul {
        display: none;
        position: absolute;
        z-index: 1;
        border-bottom: 1px solid white;
    }
    nav ul li ul li {
       padding: 15px ;
       margin-left: -41px;
       width: 43px;
       background-color: #1b1b1b;
       border-right: 1px solid rgb(117, 117, 106);;
       
    }
    nav ul li:hover ul{
        display: block;
    }
.slideshow-container{
    height: 380px;
    width: 960px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.next {
position: absolute;
cursor: pointer;
color: #504e4e;
font-size: 20px;
text-align: center;
font-weight: bold;
border-radius: 100%;
border: 5px solid #504e4e;
padding: 8px 16px;
background-color: #111111;
margin: 190px 30px;

}
.back{
    position: absolute;
    cursor: pointer;
    color: #504e4e;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 100%;
    border: 5px solid #504e4e;
    padding: 8px 16px;
    background-color: #111111;
    margin: 190px 30px;

}
.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #504e4e;
    border: 2px solid #504e4e;
    display: inline-block;


}

/* stilizimi i elementeve ne mes pas sllajdeve */
.mid{
    border:1px solid rgb(67, 172, 40); ; width: 33%;
    margin-top: 30px  ;
    color:lightgray;
    float:left;
    box-sizing: border-box;
    padding:10px ;
  }
/* stilizimi i tekstit brenda elementit mid*/
.mid_txt{
    text-align: justify;
    padding: 0px 10px;
    padding-left: 0px;
    color: rgb(124, 124, 124);
    
  }
  /* stilizimi i linqeve qe paraqiten ne fund me ngjyre pink */
  .links1{
    float: right;
  color: rgb(210,66,96); 
  text-decoration:none; 
  }
  .midd2{
    margin: 20px;
  }



