body
{
  background-color: black;
  counter-reset: section;
}



/*-- dukshmeria*/
div.prapavija
{   border-top: 10px solid red;
    opacity: 1.0;
    background-repeat: repeat; 

}
div.titulli
{
    font-family: serif,"Times New Roman";
    color: white;
    font-size: 15px;
    font-weight: italic;
    
}

div.searchbar
{
  box-sizing: content-box;


 /*Style the search field*/ 
form.example input[type=text] {
  padding: 0px;
  font-size: 0px;
  border: 0px solid black;
  border-radius: 10px;
  float: right;
  margin: auto;
  width: 150px;
  height: 20px;
  background-color: darkred;
 }
 /* Style the submit button */
form.example button {
  float:right;
  width: 4%;
  padding: 5px;
  background-color: black;
  color: white;
  font-size: 10px;
    
  border: 1px solid blue;
  border-radius: 50px;
 
  cursor: pointer;
} 
}
