h3{
    color:#FFF;
    font-weight: normal;
    margin-bottom: 2px;
}
h4{
    font-weight: normal;
    font-size: 12px;
    color:#FFF;
    
    
}
h5{
    font-weight: normal;
    font-size: 16px;
    margin-top:25px;
}
h6{
    font-size: 14px;
    font-weight:700;
    margin-bottom: 5px;
    
}

/*pamja e headerit*/
.header {
    background-color: black;
    display: flex;
    justify-content:space-between;
    height: 140px;
    padding: 0px 20px;
}
h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
    float: inline-start;
}
h4{
    font-size: 12px;
    font-weight: 100;
    color:rgb(66, 63, 63);
    padding-top: 0% ;
    margin-top: -10px;
}
body{
    background-color: black;
    border-top: 10px solid #b94058;
    margin: auto;
    width: 1000px;
    cursor: context-menu;
} 

main{
    background-color: #111111;
    border-bottom: 4px solid #181717;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(24, 23, 23);
    margin: 1em 0;
    padding: 0;
}
#myLink {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #d24260;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
  }
.style{

margin-right: 10px;
float: right;

}

.socialmedia{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
.socialmedia .fa {
    padding: 5px;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    border-radius: 50%;
}
.fa:hover, body a:hover, #myBtn:hover {
    opacity: 0.7;
}

#search input {   
    width: 200px;
    height: 28px;
    background-color: #d24260;
    border-radius: 40px;
    float:right;
    border: none;
    padding-left: 10px;
} 
#search button {
    outline: none;
    position: absolute;
    margin-left: 170px;
    margin-top: 3px;
    color:white;
    height: 23px;
    width: 23px;
    background: black;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}


/* pamja e naviagtion bar*/
.topnav
{
 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 50px;
    background-image: -webkit-linear-gradient(#2b2929,#131212);
    background-image:gradient(linear,left top, left bottom, from(#2b2b2b), to(#131212));
} 
.topnav a:hover{
    color: #b94058;
}
.topnav a{

    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
}

.topnav ul{
float: left;
padding-left: 20px;

}
.topnav ul li{
    float: left;
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid whitesmoke;
}
#home{
    border-left: none;
 
}

    /*Dropdown*/
    nav ul li ul {
        display: none;
        position: absolute;
        z-index: 1;
        border-bottom: 1px solid white;
    }
    nav ul li ul li {
       padding: 15px ;
       margin-left: -41px;
       width: 43px;
       background-color: #1b1b1b;
       border-right: 1px solid rgb(117, 117, 106);;
       
    }
    nav ul li:hover ul{
        display: block;
    }
.slideshow-container{
    height: 380px;
    width: 960px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.next {
position: relative;
cursor: pointer;
color: #504e4e;
font-size: 20px;
text-align: center;
font-weight: bold;
border-radius: 100%;
border: 5px solid #504e4e;
padding: 8px 16px;
background-color: #111111;
margin: 190px 30px;


}
.back{
    position: relative;
    cursor: pointer;
    color: #504e4e;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 100%;
    border: 5px solid #504e4e;
    padding: 8px 16px;
    background-color: #111111;
    margin: 190px 30px;
    margin-left: 880px;
  

}
.dot{
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #504e4e;
    border: 2px solid #504e4e;
    display: inline-block;
    margin-bottom: 100px;


}

.mid{
    border: 1px solid #202020;
     width: 33%; height: 520px;;
    margin-top: 30px  ;
    color:#fafafa;
    float:left;
    box-sizing: border-box;
    padding:10px ;
    text-decoration: none;;
  }
/* stilizimi i tekstit brenda elementit mid*/
.mid_txt{
    text-align: justify;
    padding: 0px 10px;
    padding-left: 0px;
    color: rgb(124, 124, 124);
    
  }
  /* stilizimi i linqeve qe paraqiten ne fund me ngjyre pink */
  .links1{
    float: right;
  color:#b94058; 
  text-decoration:none; 
  }
   /*stili i titujve sektorin e mesit 2*/
  .midd2{

      padding: 20px;
      min-width: 290px;
      margin-right: 20px;
   
  }
   /*zhvendosja e fotove ne pjesen e mesit 2_2*/
  .img_2{
      margin-right: 10px;


  }
  /*stili i titujve sektorin e mesit*/
  .mid_2{
      color: rgb(124, 124, 124); ;
      font-weight:bold;
      font-size: 16px;
      margin-bottom: 6px;


  }
   /*stili elementeve div ne mesin horizontalisht te dyte*/
  .midd3{
      width: 25%;
      height: 229px;
      float: left;


  }
   /*stili i fotove te sektorit te 2*/
  .midd3_3{
      margin-left: 10px;
      margin-top: 30px;
  }
   /*stili i tekstit ne sketorin 2*/
  .midd3_text
  {
      padding-left: 10px;
      margin-top: 8px;
  }


  /* footer*/
   footer {
        background-color: #181717;
        color: rgb(124, 124, 124);
        border-top: 1px solid #202020;
        cursor:context-menu;
   }


   footer h5{
       color: #b94058;
   }
    
   .firstpart{
       width: 250px;
       float: left;
       margin-left: 0px;
       height: 200px;
   }

   footer ul li {
    border-bottom: 1px solid #202020;
    line-height: 14.4px;
    padding: 8px 0px;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secondpart{
    width: 250px;
    margin-right: 10px;
    float: left;
    height: 200px;

}
.thirdpart{
    width: 180px;
    margin-right:0px;
    float: left;
    height: 200px;
    margin-left: 0px;

}
#footer{
    height: 240px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    border-bottom: 1px solid #202020;
}

footer ul li a , #mail:hover{
     color:#999999;
    text-decoration:none;
}
footer ul li a:hover, #mail:hover {
    color:#b94058;
}
.button {
    background-color: #2c2c2c;
    border: none;
    color: #b94058;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    margin: 8px 0px;
    border-radius: 5px;
    font-weight: bold;
  }
.input {
    width: 100%;
    background-color: #2c2c2c;
    color: #858585;
    padding: 6px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}
