body
{
  background: linear-gradient(180deg, black 550px, rgb(27,27,27) 550px);
  counter-reset: section;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", serif;
  display: block;
}
* {
  box-sizing: border-box;
}



/*-- dukshmeria*/
div.prapavija
{   border-top: 10px solid #C63154;
    opacity: 1.0;
    background-repeat: repeat; 

}
.title {
  padding-top: 0.5em;
  margin: 0;
}
div.title--text
{
   
   

  color: whitesmoke;
  font-size: 16px;
  font-weight:100;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 1em;

    
}

.title--text::first-letter {
  font-size: 46px;
  line-height: 46px;
}
.title--text::fifth-letter {
  font-size: 46px;
  line-height: 46px;
}
div.header {
  max-width: 98%;
  background-color: #fff;
  border-top: 5px solid #81b300;
  position: relative;
  margin: 0 auto;
}

.icons {
  width: 250px;
  height: 50px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 30px;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
}
.icon--linkedin {
  background-image: url("icons/icon_linkedin.png");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--twitter {
  background-image: url("icons/icon_twitter.png");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--pinterest {
  background-image: url("icons/icon_pinterest.png");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--google-plus {
  background-image: url("icons/icon_googleplus1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--rss {
  background-image: url("icons/icon_rss.png");
  background-repeat: no-repeat;
  background-position: center;
}


div.searchbar
{
  box-sizing: content-box;
}

/*Style the search field*/ 
 form.example input[type=text] {
  padding: 0px;
  font-size: 0px;
  border: 0px solid black;
  border-radius: 10px;
  float: right;
  margin: auto;
  width: 150px;
  height: 20px;
  background-color: #C63154;
 }
  /*Style the submit button */
  form.example button {
    float:right;
    width: 4%;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 10px;
      
    border: 1px solid #C63154;
    border-radius: 90px;
   
    cursor: pointer;
  }
 .footer_text{
    color: lightgray;
}
.footer_read {
  text-align: right;
}

.footer_text p span{
    float: right;
} 
/* stilizimi i elementeve ne mes pas sllajdeve */
.mid{
  border:1px solid rgb(67, 172, 40); ; width: 33%;
  margin-top: 30px  ;
  color:lightgray;
  float:left;
  box-sizing: border-box;
  padding:10px ;
}
/* stilizimi i tekstit brenda elementit mid*/
.mid_txt{
  text-align: justify;
  padding: 0px 10px;
  padding-left: 0px;
  color: rgb(124, 124, 124);
  
}
/* stilizimi i linqeve qe paraqiten ne fund me ngjyre pink */
.links1{
  float: right;
color: rgb(210,66,96); 
text-decoration:none; 
}
.midd2{
  margin: 20px;
}

